name: Generate Snake

on:
  schedule: 
      - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: Platane/snk@v3
        with:
          github_user_name: davi1011muniz-rgb
          outputs: dist/github-contribution-grid-snake.svg
      - name: Push snake
        uses: EndBug/add-and-commit@v9
        with:
          author_name: "GitHub Action"
          message: "Update snake animation"
          add: "dist/*.svg"
